{% extends 'surveys/base.html' %}

{% block content %}
    {% for complete_survey in data %}
        <h3>Survey name: {{ complete_survey.survey.name }}</h3>
        <p>{{ complete_survey.complete_survey.completed_at }}</p>
        {% for complete_survey_data in complete_survey.complete_survey.data %}
            <h6>Question: {{ complete_survey_data.questions.content }}</h6>
            <p>Answer: {{ complete_survey_data.answers.content }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}

