{% extends 'surveys/base.html' %}

{% block content %}
    <script defer>
        function onClick() {
            fetch(
                'http://localhost:8000/leaderboard/',
                    {
                        method: 'GET',
                        headers: new Headers(),
                    }
                ).then((res) => {
                    return res.json();
            }).then((data) => {
                var b = document.getElementById("new-div");
                var comment = document.getElementsByClassName("lead-board")[0];
                console.log(comment);
                if (b) {
                    comment.removeChild(b);
                }
                var div = document.createElement("div");
                div.setAttribute("id", "new-div");
                var table = document.createElement("table");
                div.appendChild(table);
                response_data = data["data"];
                for (var i = 0; i < response_data.length; i++) {
                    var tr = document.createElement("tr");
                    table.appendChild(tr);
                    var td1 = document.createElement("td");
                    tr.appendChild(td1);
                    var td2 = document.createElement("td");
                    tr.appendChild(td2);
                    var text1 = document.createTextNode(response_data[i].username);
                    var text2 = document.createTextNode(response_data[i].total);
                    td1.appendChild(text1);
                    td2.appendChild(text2);
                    comment.appendChild(div);
                }
            });
        }

    </script>
<div class="lead-board">
    <div id="new-div">
    </div>
</div>
    <p><button name=foo" value="foo" onclick="onClick()">Submit</button></p>
{% endblock %}
