{% extends 'surveys/base.html' %}

{% block content %}
<style>
    .answer {
        font-size: 1.2em;
    }
    input {
        margin: 5px;
    }
</style>
<script>
    function getAllSiblings(element, parent) {
        const children = [...parent.children];
        return children.filter(child => child !== element);
    }

    function isChecked(element) {
        var siblings = getAllSiblings(element.parentElement, element.parentElement.parentElement);
        if ('{{survey.type}}' === "Formal") {
            for (i = 0; i < siblings.length; i++) {
                if (element.checked) {
                    if (siblings[i].tagName === "DIV") {
                        var input = document.querySelector("[id='" + siblings[i].getAttribute("id") + "'] > input");
                        if (input.checked) {
                            input.checked = false;
                        }
                    }
                }
            }
        }
    }

    function addTextToDiv(text) {
        var serverAnswer = document.getElementsByClassName("server_answer")[0];
        console.log(serverAnswer)
        var paragraph = document.createElement("p");
        var p = document.createTextNode("Server error: " + text);
        paragraph.appendChild(p)
        console.log(serverAnswer.appendChild);
        serverAnswer.appendChild(paragraph);
    }

    function onClick() {
        var questionDiv = document.getElementsByClassName('question')
        let list = []
        var answer_checked = false;
        for (var i = 0; i < questionDiv.length; i++) {
            answerDiv = questionDiv[i].getElementsByClassName('answer')
            var checked = false;
            for (var j = 0; j < answerDiv.length; j++) {
                inputCheckbox = answerDiv[j].getElementsByTagName('input')
                for (var k = 0; k < inputCheckbox.length; k++) {
                    if (inputCheckbox[k].checked) {
                        list.push({question_id: questionDiv[i].id, answer_id: answerDiv[j].id})
                        checked = true;
                        break;
                    }
                }
            }
            if (checked === false) {
                addTextToDiv("You are not answer for all questions");
                answer_checked = false;
                break;
            }
            answer_checked = true;
        }
        if (answer_checked === true) {
            fetch(
                'http://localhost:8000/complete_survey/create/',
                {
                    method: 'POST',
                    headers: new Headers(),
                    body: JSON.stringify({
                        questions: list,
                        survey_id: '{{ survey.id }}',
                        user_id: '{{ request.user.id }}'
                    })
                }
            ).then((res) => {
                if (res.ok) {
                    return null
                } else {
                    addTextToDiv(res.text());
                }
            })
        }

    }
</script>
<h3>{{ survey.name }}</h3>
{% for question_answer in question_answers %}
{% for element in question_answer %}
    {% if forloop.first %}
        <div class="question" id="{{ element.question.id }}">
        <h4>{{ element.question.content }}</h4>
    {% endif %}
    <div class="answer" id="{{ element.answer.id }}">
        <input id="A{{ element.answer.id }}Q{{ element.question.id }}" type="checkbox" onclick="isChecked(this)">{{ element.answer.content }}
        <br>
    </div>
    {% endfor %}
    <br>
</div>
{% endfor %}
<p>
    <button name="foo" value="foo" onclick="onClick()">Submit</button>
</p>
<div class="server_answer"></div>
{% endblock %}

