{% extends 'surveys/base.html' %}

{% block content %}
<script>
    function onClick() {
        var questionDiv = document.getElementsByClassName('question')
        let list = []
        var answer_checked = false;
        for (var i = 0; i < questionDiv.length; i++) {
            answerDiv = questionDiv[i].getElementsByClassName('answer')
            var checked = false;
            for (var j = 0; j < answerDiv.length; j++){
                inputCheckbox = answerDiv[j].getElementsByTagName('input')
                for (var k = 0; k < inputCheckbox.length; k++) {
                    if (inputCheckbox[k].checked) {
                        list.push({question_id: questionDiv[i].id , answer_id: answerDiv[j].id})
                        checked = true;
                        break;
                    }
                }
            }
            if (checked == false) {
                    alert("You are not answer for all questions")
                    answer_checked = false;
                    break;
            }
            answer_checked = true;
        }
        if (answer_checked == true) {
            fetch(
                'http://localhost:8000/complete_survey/create/',
                    {
                        method: 'POST',
                        headers: new Headers(),
                        body: JSON.stringify({questions: list, survey_id: '{{ survey.id }}', user_id: '{{ user.id }}'})
                    }
                ).then((res) => {
                    return res.text();
                }).then((data) =>{
                    alert("Server error:" + data)
                })
        }
        
    }
</script>
    {% for question in questions %}
        <div class="question" id="{{ question.id }}">
        <p>{{ question.content }}</p>
            {% for answer in answers %}
                {% if answer.question_id == question.id %}
                <div class="answer" id="{{ answer.id }}">
                    <input type="checkbox">
                    {{ answer.content }}
                    <p></p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    <p><button name="foo" value="foo" onclick="onClick()">Submit</button></p>
{% endblock %}

