{% extends 'surveys/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        </div>
    {% for survey in surveys %}
    <div class="card">
        <h5 class="card-header">{{ survey.name }}</h5>
        <div class="card-body">
            <ul class="card-text">
                <li>Author: {{ survey.author.login }}</li>
                <li>Type: {{ survey.type }}</li>
                <li>Area: {{ survey.area.name }}</li>
            </ul>
            <a href="{{ survey.id }}/" class="btn btn-primary">Take a survey</a>
        </div>
    {% endfor %}
</div>
{% endblock %}

